<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Wine Analysis</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color:darkgray;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color:gainsboro;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
</style>

</head>
<body>

  <!-- NAV BAR -->
<div class="navbar">
  <a href="../index.html">Home</a>
  <div class="subnav">
    <div class="subnav-content">

    </div>
  </div> 
  <div class="subnav">
    <button class="subnavbtn"> Resources <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="https://www.kaggle.com/aleixdorca/wine-quality">Wine Quality: Both Red and White wine data.</a>
    
  
    </div>
  </div> 
  <div class="subnav">
    <button class="subnavbtn">Visualizations <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="table.html">Wine Quality</a>
      <a href="matrix.html">Correlation Matrix</a>
      <a href="../Tableau/WineQualAspects.html">Wine Quality Aspects</a>
      <a href="winequalityimportances.html">Wine Quality Importances</a>
        
   
    </div>
  </div>

<!-- added Machine learning to navbar -->
<div class="subnav">
  <button class="subnavbtn">Machine Learning <i class="fa fa-caret-down"></i></button>
  <div class="subnav-content">
    <a href="ml.html">How Good is Your Wine?</a>
    <a href="knn.html">K Nearest Neighbors</a>
    <a href="residual_plot.html">Residual Plot</a>
    <a href="scaling_normalization.html">Scaling Normalization</a>
    <a href="scatter_plot.html">Scatter Plot</a>
    <a href="pairplot.html">Pair Plot</a>
  </div>
</div>

<!-- end of added machine learning to navbar -->

  <!-- put a link to our github project here -->
  <!-- to open in a new tab use _blank -->
  <a href="https://github.com/bea03013/Project_3" target="_blank">Contact Us</a>
</div>

<div style="padding:0 16px">

  <!-- --------------------------center this title -->
  <br>

  <h1 style="color: rgba(175, 64, 13, 0.74); text-align: center;"> Analyzing the Quality of White and Red Wine <hr></h1>
  <!-- <p>________________________________________________________________________________________________________________________________________________________________</p> -->
  <p><center>This correlation matrix gives a better understanding of the relationships between various variables for white and red wine. As shown below, the darker the square, the greater the corelation between variables. Orange squares show a positive correlation and blue squares show a negaitve correlation. </center></p>

  <section class="latest section">
    <div class="section-inner shadow-sm rounded">

        <div class="content">    
                               
            <div class="item featured text-center">
                
                <!-- <div class="featured-image has-ribbon"> -->
                    <a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/launch-bootstrap-4-template-for-saas-businesses/" target="_blank"> <center>
                    <img class="img-fluid project-image rounded shadow-sm" src="../static/images/heatmap.png" height= "700px" width= "1300px"alt="Wine" />
                  </center></a>
                   
                </div>
                
                <h3 class="title mb-3"><a href="link here" target="_blank"></a></h3>
                    
                <div class="desc text-left"> <hr>
                  <!-- <p>________________________________________________________________________________________________________________________________________________________________</p>                                    -->
                
                </div>     



<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />

<!-- Our CSS -->
<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>



<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<!-- D3 JavaScript -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script> -->
<!-- Our JavaScript -->
<!-- <script type="text/javascript" src="static/js/config.js"></script> -->

<!-- <script src="{{ url_for('static', filename='logic4.js') }}"></script> -->
<script type="text/javascript" src="../static/js/logic4.js"></script>
<script type="text/javascript" src="../static/js/logic3.js"></script>
<script type="text/javascript" src="../static/js/logic1.js"></script>
<script type="text/javascript" src="../static/app.js"></script>

<footer class="footer">
  <div class="container text-center">
      <!-- <h4>Copyright &copy; 2020 Wine Quality Michelle Goodman, Tina Sparks, Polina Holland, Taniya Chhabra</h4> -->
      <h4 style="text-align: left; width:49%; display: inline-block;">Copyright &copy; 2020 Wine Quality</h4>
<h4 style="text-align: right; width:50%;  display: inline-block;">Michelle Goodman, Tina Sparks, Polina Holland, Taniya Chhabra</h4>​
          <!--/* This template is free as long as you keep the attribution link below. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
          
</footer>




</body>
</html>