<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Wine Analysis</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/journal/bootstrap.min.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.kaggle.com/aleixdorca/wine-quality">Resources</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="table.html" role="button" aria-haspopup="true" aria-expanded="false">Visualizations</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="table.html">Wine Quality</a>
              <a class="dropdown-item" href="matrix.html">Correlation Matrix</a>
              <a class="dropdown-item" href="../Tableau/WineQualAspects.html">Wine Quality Aspects</a>
              <a class="dropdown-item" href="winequalityimportances.html">Wine Quality Importances</a>
            </div>
          </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="table.html" role="button" aria-haspopup="true" aria-expanded="false">Machine Learning</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="ml.html">How Good Is Your Wine?</a>
                  <a class="dropdown-item" href="knn.html">K Nearest Neighbors</a>
                  <a class="dropdown-item" href="residual_plot.html">Residual Plot</a>
                  <a class="dropdown-item" href="scaling_normalization.html">Scaling Normalization</a>
                  <a class="dropdown-item" href="scatter_plot.html">Scatter Plot</a>
                  <a class="dropdown-item" href="pairplot.html">Pair Plot</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/bea03013/Project_3" target="_blank">Contact Us</a>
              </li>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
  </head>
  <body>

    <div class="hero text-center">
      <h1> Wine Quality</h1>
      <p></p>
    </div>
    <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-2">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Filter Search</div>
              <div class="panel-body">
                <div class="form-group">
                  <ul class="list-group" id="filters">
                    <li class="filter list-group-item">
                      <label for="date">Enter Wine Color</label>
                      <input class="form-control" id="Color" type="text" placeholder="white or red">
                    </li>
                    <li class="filter list-group-item">
                      <label for="city">Enter Quality</label>
                      <input class="form-control" id="Quality" type="text" placeholder="1-10">
                    </li>
                  </ul>
                </div>
                <button type="button" class="btn btn-secondary">Filter Table</button>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-10">
          <div id="table-area" class="">
            <h1 class="text-center loader" id="loader">Loading...</h1>
            <table id="ufo-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Color</th>
                  <th class="table-head">Quality</th>
                  <th class="table-head">Volatile Acidity</th>
                  <th class="table-head">Density</th>
                  <th class="table-head">Alcohol</th>
                  <th class="table-head">pH</th>
                  <th class="table-head">Residual Sugar</th>
                  <th class="table-head">Sulphates</th>
                  <th class="table-head">Chlorides</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
  
  
  
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script> -->
  <!-- Our JavaScript -->
  <!-- <script type="text/javascript" src="static/js/config.js"></script> -->
  
  <!-- <script src="{{ url_for('static', filename='logic4.js') }}"></script> -->
  <script type="text/javascript" src="../static/js/logic4.js"></script>
  <script type="text/javascript" src="../static/js/logic3.js"></script>
  <script type="text/javascript" src="../static/js/logic1.js"></script>
  <script type="text/javascript" src="../static/app.js"></script>
  
  <footer class="footer">
    <div class="container text-center">
        <!-- <h4>Copyright &copy; 2020 Wine Quality Michelle Goodman, Tina Sparks, Polina Holland, Taniya Chhabra</h4> -->
        <p style="text-align: left; width:49%; display: inline-block;">Copyright &copy; 2020 Wine Quality</p>
  <p style="text-align: right; width:50%;  display: inline-block;">Michelle Goodman, Tina Sparks, Polina Holland, Taniya Chhabra</p>​
            
            
  </footer>
  
  
  
  
  </body>
  </html>